@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300|Quicksand:300');

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  color: #333;
  font-weight: 300;
  max-width: 50em;
  margin: 0 auto;
  background: #dee0e2;
}

div:focus {
  outline: none;
}

#heading {
  font-size: 48px;
  padding-top: 30px;
}

#content {
  padding-top: 10px;
  font-size: 24px;
}
